//
   Created by nant on 9/16/2014.

div#dateselector
    p.title 选择时间范围:
        #div_date(class='ta_date')
                span#date_picker(class='date_title')
                a#input_trigger_demo(class='opt_sel')
                    i(class='i_orderd')
        #datePicker
