//
   Created by nant on 9/11/2014.

#url_comp_selector
    p.title 选择比较的URL:
    select#urls_comp
        - var len =data.length;
        - for( var i = 0; i < len; i++ )
            - var type = ( i % 2 ) != 0 ? 'even' : 'odd';
            - var dataItem = data[i]
            - var url = dataItem['url']
            option(value='#{url}') #{url}
